.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}

.contentBg {
  background-color: #f0f5ff;
  padding: 15px;
}

.breadcrumb {
  padding: 10px;
}

.footerBg {
  background-color: #1890ff;
}

.headerBg {
  width: 100%;
  color: white;
  font-size: 1.5rem;
}

.layoutBg {
  height: 100vh;
}